.info {
    background: #e2e2e2;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.wrap {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 22px;
    font-family: sans-serif;
}

.wrap label {
    color: #f95424;
    padding: 10px;
}

.wrap p {
    color: #558723;
}

.bs-example {
    margin: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.page-header {
    font-size: 2.5em;
}

.table {
    text-align: center;
}

.table td {
    padding: 15px;
}

.table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    border: 1px solid #54585d;
}

.table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
    font-size: 1.5em;
}

.table tbody td a {
    text-decoration: none;
    color: #000;
}

.table tbody tr {
    background-color: #f9fafb;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

form {
    text-align: -webkit-center;
    margin-top: 50px;
}

.form-group {
    position: relative;
    display: flex;
    width: 35%;
}

.form-group>span, .form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group>span:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group>span:first-child, .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group>span:last-child, .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group>span:not(:first-child), .form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 25px;
    background: #99a3ba;
    border: 1px #cdd9ed;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within>span {
    color: #fff;
    background: #678efe;
    border-color: #275efe;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99a3ba;
    border: 1px solid #cdd9ed;
    background: #fff;
    transition: border 0.3s ease;
    margin-right: 20px;
}

.form-field::placeholder {
    color: #cbd1dc;
}

.form-field:focus {
    outline: none;
    border-color: #275efe;
}

.form-button:hover {
    background: #275efe;
}

.form-button {
    padding: 5px 15px;
    background: #99a3ba;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: background 0.3s ease;
}