@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.woff2') format('woff2'),
        url('../fonts/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barkentina';
    src: url('../fonts/Barkentina.woff2') format('woff2'),
        url('../fonts/Barkentina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3f4855;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.banner *:not(i) {
    margin: 3vh;
    color: #009df6;
}

.banner h1 {
    font-size: 3rem;
}

.banner p {
    font-size: 24px;
}

.banner a {
    text-decoration: none;
    color: #00c9b7;
    font-size: 18px;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#about {
    text-align: center;
    margin: 40px;
}

#about * {
    margin: 20px;
}

#about h1 {
    color: #009df6;
    text-shadow: 1px 1px #fff;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #fff;
    text-decoration-thickness: 1.5px;
    font-family: 'Barkentina';
}

#about p {
    font-family: 'Courgette', 'cursive';
    font-size: 1.6em;
}